<h2 style="margin-left: 40px;margin-bottom: 50px;">Cadastro de Clientes</h2>
<form class="container-fluid" #formCliente="ngForm">
  <div class="row">
    <div class="col-md-5">
      <label for="nom_cliente" class="form-label">Nome</label>
      <input type="text" class="form-control" id="nom_cliente" name = "nom_cliente" aria-describedby="EanHelp" [(ngModel)]="cliente.nom_cliente">
      <div id="nomeHelp" class="form-text">Digite seu nome completo</div>
    </div>
    <div class="col-md-5">
      <label for="cpf_cliente" class="form-label">CPF</label>
      <input type="text" class="form-control" id="cpf_cliente" name = "cpf_cliente" [(ngModel)]="cliente.cpf_cliente">
      <div id="CPFHelp" class="form-text">Digite seu CPF</div>
    </div>
    <div class="col-md-2">
      <label for="dat_nascimento" class="form-label">Data de nascimento</label>
      <input type="text" class="form-control" id="dat_nascimento" name = "dat_nascimento" [(ngModel)]="cliente.dat_nascimento">
      <div id="dat_nascimentoHelp" class="form-text">Digite sua data de nascimento</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <label for="num_cep" class="form-label">CEP</label>
      <input type="number" class="form-control" id="num_cep" name = "num_cep" [(ngModel)]="cliente.num_cep">
      <div id="num_cepHelp" class="form-text">Digite seu CEP</div>
    </div>
    <div class="col-md-8">
      <label for="nom_endereco" class="form-label">Endereço</label>
      <input type="number" class="form-control" id="nom_endereco" name = "nom_endereco" [(ngModel)]="cliente.nom_endereco">
      <div id="estoqueHelp" class="form-text">Digite seu endereço</div>
    </div>
     <div class="col-md-2">
      <label for="num_endereco" class="form-label">Numero</label>
      <input type="text" class="form-control" id="num_endereco" name = "num_endereco" [(ngModel)]="cliente.num_endereco">
      <div id="numendHelp" class="form-text">Numero de seu endereço</div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-2">
      <label for="nom_bairro" class="form-label">Bairro</label>
      <input type="number" class="form-control" id="nom_bairro" name = "nom_bairro" [(ngModel)]="cliente.nom_bairro">
      <div id="nom_bairroHelp" class="form-text">Digite seu bairro</div>
    </div>
    
   
  </div>
  <button style="margin-top: 40px;" type="submit" class="btn btn-primary" (click)="cadastrar()">Salvar</button>
</form>