<div class="container">
  <div class="row" style="background-color: rgb(148, 197, 193);">
    <div class="col-md-3">
      Codigo de barras
    </div>
    <div class="col-md-4">
      Descrição
    </div>
    <div class="col-md-3">
      Preço de venda
    </div>
    <div class="col-md-2">
      Estoque
    </div>
  </div>
  <div class="row" *ngFor="let produto of produtos">
    <div class="col-md-3">
      {{produto.cod_barras}}
    </div>
    <div class="col-md-4">
      {{produto.nom_produto}}
    </div>
    <div class="col-md-3">
      {{produto.vlr_unitario}}
    </div>
    <div class="col-md-2">
      {{produto.qtd_estoque}}
    </div>
  </div>
</div>