<div class="container">
  <div class="row" style="background-color: rgb(148, 197, 193);">
    <div class="col-md-3">
      <b>Codigo de barras</b>
    </div>
    <div class="col-md-4">
      <b>Descrição</b>
    </div>
    <div class="col-md-3">
      <b>Preço de venda</b>
    </div>
    <div class="col-md-2">
      <b>Estoque</b>
    </div>
  </div>
  <div class="row" *ngFor="let produto of produtos">
    <div class="col-md-3">
      {{produto.cod_barras}}
    </div>
    <div class="col-md-4">
      {{produto.nom_produto}}
    </div>
    <div class="col-md-3">
      {{produto.vlr_unitario}}
    </div>
    <div class="col-md-2">
      {{produto.qtd_estoque}}
    </div>
  </div>
</div>