<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #a3d6a5" data-bs-theme="light">

  <div class="container">
    <a class="navbar-brand" href="#">Sistema de Vendas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-basket-fill me-2"></i>Vendas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"><b>Realizar venda</b></a></li>
            <li><a class="dropdown-item" href="#">Relatorios</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           <i class="bi bi-box2-fill me-2"></i>Produtos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="produtos/cadastro">Cadastrar produto</a></li>
            <li><a class="dropdown-item" href="#">Consulta de produtos</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div style="width: 100%;height: 60px;"></div>
<router-outlet></router-outlet>